@charset "utf-8";

/* reset css */
* {
    margin: 0;
    padding: 0;
}

body{
    background: gray;
}

header{
    padding: 10px;
    text-align: center;/* 中央揃え */
    background-color: red;
}
section{
    padding: 10px;
    background-color: orange;
}
aside{
    padding: 10px;
    background-color: blue;
}
footer{
    padding: 10px;
    background-color: biue;
    text-aline: center; /* 中央揃え */
}
